<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996005045115-cbommdekmd355jeemacml06e5eh6jsba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996005045115-cbommdekmd355jeemacml06e5eh6jsba</string>
	<key>API_KEY</key>
	<string>AIzaSyAFln5tyyPp6htWO46L0mMTc32qyLgqHI4</string>
	<key>GCM_SENDER_ID</key>
	<string>996005045115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoListNew</string>
	<key>PROJECT_ID</key>
	<string>taskbookyan</string>
	<key>STORAGE_BUCKET</key>
	<string>taskbookyan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996005045115:ios:1bb09aa4109eeec1f693de</string>
</dict>
</plist>